@charset "UTF-8";/* 文字化け防止 */

/* 共通部分 ----------*/
html {
  font-size: 100%; /* ユーザーの設定した文字サイズを正しく反映 */
}
body {
  font-family: "Yu Gothic Mediam", "游ゴシック Mediam", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;/* 書体 */
  line-height: 1.7; /* 行の高さ */
  color: #333333; /* 文字色 */
}
a {
  text-decoration: none; /* 傍線 */
}
img {
  max-width: 100%; /* 画像の大きさ */
}

/* header ----------*/

.page-header {
  display: flex;
  justify-content: space-between;/* タイトルとボタンを両端に */
  height: 90px;
  background-color: #99ccff;
}

.page-header h1 {/* タイトルを上下の中央揃え */
  margin: auto 0;
}

.page-header h1 a {
  color: #333333;
}

.wrapper {/* ヘッダー、フッター、メインの幅。広がりすぎると見えにくいため。 */
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;/* タイトル・ボタンを少し中央へ。%にしてスマホ対応 */
}

.page-header nav {
  margin: auto 0;
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #333333;
}


/* footer ----------*/
.page-footer {
  background-color: #99ccff;
  text-align: center;
}

/* main ----------*/
.page-contents {
  text-align: center;
  height: 550px;
}

.content {
  margin-top: 80px;
  margin-right: 10%;
  margin-left: 10%;
}

.bold {
  font-size: 25px;
  font-weight: bold;
}

.inText {
  box-sizing: border-box;
  width: 100%;                /* 一旦100%幅     */
  max-width: 200px;            /* 入力域の最大幅 */
  height: 40px;                /* 入力域の高さ   */
  background: #ffffff;       /* 入力域の背景色 */
  border: 2px solid #666666; /* 入力域の枠線   */
  border-radius: 4px;          /* 入力域の角丸   */
  padding: 0 10px;              /* 入力文字の余白 */
  font-size: 16px;              /* 入力文字サイズ */
  color: #333333;             /* 入力文字の色   */
  font-weight: bold;            /* 入力文字の太字 */
  letter-spacing: .1em;         /* 入力文字の間隔 */
}
.inText:focus {
  border-color: #1e6bb9;     /* 枠線色     */
}

.button {
  margin-left: 30px;
  display: inline-block;
  border-radius: 10px;        /* 角丸       */
  font-size: 16pt;        /* 文字サイズ */
  text-align: center;      /* 文字位置   */
  cursor: pointer;     /* カーソル   */
  padding: 10px 10px;   /* 余白       */
  background-color: white;
  line-height: 1em;         /* 1行の高さ  */
  opacity: 0.9;         /* 透明度     */
  transition: 0s;         /* なめらか変化 */
  box-shadow: 3px 3px 4px #666666;  /* 影の設定 */
}
.button:hover {
  box-shadow: none;        /* カーソル時の影消去 */
  opacity: 1;         /* 透明度     */
}

/* topページ */
.description-shiritori p {/* アイディアしりとり説明 */
  font-size: 20px;
  margin: 0 0 5px 0;
}

.description-thispage {/* サイトの使い方説明 */
  font-size: 20px;
  text-align: left;
  border: 2px dashed #666666;
  border-radius: 20px;
  padding: 20px;
}

/* しりとりページ */
.timer {
  border: 2px solid #666666;
  border-radius: 3px;
  width: 150px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.shiritori-area {
  height: 400px;
}