{% extends 'base.html' %}
{% block content %}
<!-- お気に入りページ -->
<main class="page-contents wrapper">
  <div class="theme content">
    <p>{{theme[0]}}</p><!-- テーマ表示 -->
  </div>

  <div class="description-favorite">
    <p>書き出したテーマから自分が気に入ったものを選びましょう</p>
  </div>

  <!-- ここから -->
  <div class="reminded-contents">
    <form class="reminded-favorite" action="/favorite" method="POST">
      <div class="fav_check">
        {% for item in remind_list %}
        <label class="outText"><input type="checkbox" name="fav" value="{{item['id']}}">{{item["remind"]}}</label>
        {% endfor %}
      </div>
      <div class="margin-top margin-bottom">
        <input type="submit" value="次へ" class="button">
      </div>
    </form>

  </div>
  <!-- ここまでコピペで行数増える -->
</main>
{% endblock %}