{% extends 'base.html' %}
{% block content %}
<!-- お気に入りページ -->
<main class="page-contents wrapper">
  <div class="thema content"><p>（例）テーマ</p><!-- テーマ表示 成重さんよろしく！ --></div>

  <div class="description-favorite"><p>書き出したテーマから自分が気に入ったものを選びましょう</p></div>

  <!-- ここから -->
  <div class="reminded-contents">
    <div class="outText">
      テキストテキスト
      <!-- 連想 成重さんよろしく！ -->
    </div>
    <div class="outText">
      テキストテキストテキスト
      <!-- 連想 成重さんよろしく！ -->
    </div>
    <div class="outText">
      テキスト
      <!-- 連想 成重さんよろしく！ -->
    </div>
  </div>
  <!-- ここまでコピペで行数増える -->

  <div class="margin-top margin-bottom">
    <input type="submit" value="次へ" class="button">
  </div>

</main>
{% endblock %}