{% extends 'base.html' %}
{% block content %}
<!-- 最終ページ -->
<main class="page-contents wrapper">
  <div class="theme content"><p>（例）テーマ</p><!-- テーマ表示 成重さんよろしく！ --></div>

  <div class="description-favorite"><p>いいアイディアが浮かぶことを願っています</p></div>

  <!-- ここから -->
  <div class="reminded-contents">
    <div class="favorited">
      テキストテキスト
      <!-- お気に入りされた連想 成重さんよろしく！ -->
    </div>
    <div class="favorited">
      テキストテキストテキスト
      <!-- お気に入りされた連想 成重さんよろしく！ -->
    </div>
    <div class="favorited">
      テキスト
      <!-- お気に入りされた連想 成重さんよろしく！ -->
    </div>
  </div>
  <!-- ここまでコピペで行数増える -->

  <div class="margin-top margin-bottom">
    <input type="submit" value="連想結果を共有" class="button">
    <input type="submit" value="お気に入りを共有" class="button">
    <input type="submit" value="保存する（ログイン）" class="button">
  </div>

</main>
{% endblock %}