{% extends 'base.html' %}
{% block content %}
<!-- 連想ページ -->
<main class="page-contents wrapper">
  <div class="theme content">
    <p>{{theme}}</p><!-- テーマ表示 -->
  </div>

  <div class="description-remind">
    <p>しりとりとテーマを掛け合わせて</p>
    <p>連想したものを書き出していきましょう</p>
  </div>

  <div>
    <form action="/remind" method="POST" class="margin-bottom" id="remind_form">
      <div class="clearfix remind-area">
        {% for word in shiritori_word %}
        <div>
          <p>{{word}}</p>
          <input type="text" name="remind" id="remind" class="inText" placeholder="アイディアを入力">
          <input type="text" name="remind" id="remind" class="inText" placeholder="アイディアを入力">
        </div>
        {% endfor %}
      </div>
      <br><input type="submit" value="次へ" id="remind_submit" class="button margin-top margin-bottom">
    </form>

  </div>


</main>
{% endblock %}