{% extends 'base.html' %}
{% block content %}
<!-- 連想ページ -->
<main class="page-contents wrapper">
  <div class="theme content">
    <p>{{theme}}</p><!-- テーマ表示 -->
  </div>

  <div class="description-remind">
    <p>言葉とテーマを掛け合わせて連想したものを書き出していきましょう</p>
  </div>

  <div class="remind-area">
    <div class="shiritori-area">
      {{shiritori_word}}
    </div>
    <input type="text" name="remind" id="remind" class="inText" placeholder="アイディアを入力">
    <input type="text" name="remind" id="remind" class="inText" placeholder="アイディアを入力">
  </div>

  <div>
    <input type="submit" value="次へ" class="button margin-top margin-bottom" onclick="location.href='./favorite'">
  </div>

</main>
{% endblock %}