{% extends 'base.html' %}

{% block content %}
<!-- しりとりページ -->
<main class="page-contents wrapper">

    <div class="timer">
        <div>
            <p>残り時間</p>
        </div>
        <p id="limit_time">60</p><!-- ここに残り時間表示 -->
    </div>
    <div class="start_button">
        <button id="start" class="button">スタート</button>
    </div>

    <p class="">しりとりしよう</p>

    <div class="shiritori-area" id="word_output">
        <!-- ここに入力したしりとりを表示 -->
        <ul>

        </ul>
    </div>
    <form action="/shiritori" method="POST" class="margin-bottom" id="shiritori_form">
        <input type="text" name="words" id="words" class="inText" placeholder="単語を入力">
        <input type="submit" value="入力" id="words_submit" class="button button-input">
        <p id="error_text"></p>
    </form>

</main>
{% endblock %}