{% extends 'base.html' %}

{% block content %}
<!-- しりとりページ -->
<main class="page-contents wrapper">

  <div class="timer">
      <div>残り時間</div>
      <p id="limit_time">60</p><!-- ここに残り時間表示 -->
  </div>
  <div class="start_button">
    <button id="start">スタート</button>
  </div>

  <p class="">しりとりしよう</p>

  <div class="shiritori-area">
  <!-- ここに入力したしりとりを表示 -->
  {% for word in word_list %}
  <p>{{word["id"]}} : {{word["word"]}}</p>
  {% endfor %}
  </div>
  
  <form action="/shiritori" method="POST">
    <input type="text" name="words" id="words" class="inText" placeholder="単語を入力">
    <input type="submit" value="入力" id="words_submit" class="button">
    <p>{{error_text}}</p>
  </form>
</main>
{% endblock %}